+++
date = '2025-07-16T18:38:02+08:00'
draft = false
title = '测试结果'
featured_image = '/images/background.jpg'
+++

> 测得玩的，没多少实际意义，看看就行了

+ 16型人格测试结果： [INTP-A](https://www.16personalities.com/ch/intp-%E4%BA%BA%E6%A0%BC)    
> [源测试网站1](https://www.16personalities.com/ch/%E4%BA%BA%E6%A0%BC%E6%B5%8B%E8%AF%95)   
> [源测试网站2](https://www.jungus.cn/zh-hans/test/)   

![INTP-A](/images/testresult/16personalities.png)   
![Eight](/images/testresult/eighttype.png)   

+ DnD阵营测试： [守序善良](https://zh.moegirl.org.cn/zh-cn/%E9%98%B5%E8%90%A5%E4%B9%9D%E5%AE%AB%E6%A0%BC)   
> [源测试网站](https://unnamed42.github.io/2016-06-30-%E5%AE%98%E6%96%B9%E7%89%88DnD%E9%98%B5%E8%90%A5%E6%B5%8B%E8%AF%95.html)   

![守序善良](/images/testresult/dnd.png)   

+ 政治倾向：   
> [源测试网站](https://luckyfuy.top/compass)   

![leftvalue](/images/testresult/leftvalue.png)   