<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l center items-center justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white white-90 dib no-underline">
      {{ with .Site.Params.site_logo }}
        <img src="{{ urls.RelURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    
    <div class="flex items-center">
      <!-- 将语言切换器移到菜单栏 -->
      <div class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3-ns ml3" "pr3-ns mr3" }} dn db-l">
        {{ partial "i18nlist.html" . }}
      </div>
      
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }} flex items-center">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-white white-90 no-underline" href="{{ .URL }}" title="{{ lang.Translate "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      
      <!-- 移动端语言切换器 -->
      <div class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3 ml3" "pr3 mr3" }} db dn-l">
        {{ partial "i18nlist.html" . }}
      </div>
      
      {{ partial "social/follow.html" . }}
    </div>
  </div>
</nav>
